.loading {
  width: 798px;
  height: 720px;
  background-image: url(../design/loading-map.png);
  animation: load 3s linear infinite alternate;
}

@keyframes load {
  0% {
    height: 720px;
  }
  100% {
    height: 0px;
  }
}
