body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

/* Стили для сцены НАСТРОЕК */

.settings-background {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/settings.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}

.settings-overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.settings-menu {
  opacity: 0;
  visibility: hidden;
  width: 90%;
  height: 80%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(109, 109, 109, 0.5);
  transition: 0.3s all;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.language-text {
  color: wheat;
  margin: 20px;
}

.language-parameters {
  width: 35%;
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  background-color: teal;
  color: wheat;
  cursor: pointer;
  position: relative;
}

.volume-text-value {
  color: wheat;
  margin: 20px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 20%;
  height: 10px;
  border-radius: 5px;
  background: teal;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-left: 5px;
  margin-right: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 0;
  background: url(../images/icons/car-sport.svg);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 24px;
  border: 0;
  background: url(../images/icons/car-sport.svg);
  cursor: pointer;
}

.volume-value-min,
.volume-value-max {
  color: wheat;
  font-size: 15px;
}

.quit-btn {
  margin-top: 20px;
}

/* Стили для сцены ВЫБОРА КАРТ */

.maps-background {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #534292;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}

.maps-overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.maps-menu {
  opacity: 0;
  visibility: hidden;
  width: 90%;
  height: 80%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(109, 109, 109, 0.5);
  transition: 0.3s all;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.map-image {
  width: 100%;
  height: 100%;
}

.maps-slider-wrapper {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 90%;
  max-width: 800px;
  height: 700px;
}

.maps-slider-container {
  overflow: hidden;
  background-color: pink;
}

.maps-slider-track {
  display: flex;
  transition: 0.6s;
}

.maps-slider-item {
  height: 500px;
  cursor: pointer;
}

.maps-slider-buttons {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.quit-from-select-map {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  align-self: center;
}

/* Стили для сцены ВЫБОРА МАШИНЫ */

.cars-background {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #534292;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}

.cars-overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.cars-slider-wrapper {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 90%;
  max-width: 800px;
  height: 700px;
}

.cars-slider-container {
  overflow: hidden;
  color: wheat;
  font-size: 20px;
}

.cars-slider-track {
  display: flex;
  transition: 0.6s;
}

.cars-slider-item {
  width: 100%;
  height: 500px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

.car-image-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.car-image {
  width: 60%;
  height: 40%;
}

.car-name {
  font-size: 30px;
  font-weight: 700;
  color: sienna;
  text-align: center;
}

.car-parameters {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.car-parameter-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 70%;
}

.car-parameter-name {
  padding: 0px;
  margin: 0px;
}

.car-parameter-value {
  font-size: 30px;
  color: tomato;
  font-weight: bold;
}

.progress-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.progress-box {
  width: 70%;
  height: 25px;
  border-radius: 5px;
  margin: 10px;
  background-color: thistle;
}

.progress-bar {
  background-color: violet;
  height: 100%;
  border-radius: 5px;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.cars-slider-buttons {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.quit-from-select-car {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  align-self: center;
}

/* Стили для сцены СТАТИСТИКИ */

.stat-background {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/maps.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}

.stat-overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.stat-table {
  opacity: 0;
  visibility: hidden;
  width: 90%;
  height: 80%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(109, 109, 109, 0.5);
  transition: 0.3s all;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.active {
  opacity: 1;
  visibility: visible;
}

.active-block {
  display: block;
  opacity: 1;
}

/* intro */

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -1;
}

.title-wrapper {
  display: flex;

  flex-direction: column;
  align-items: flex-end;
  margin-top: 20%;
  /* transition: 2s; */
  transition: 2s cubic-bezier(0.075, 1.22, 0.165, 1.11);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  z-index: 2;
}

.title {
  font-family: Racing Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 181px;
  color: #f3c178;
  text-shadow: 0px 4px 4px #0b0500;
  margin: 0;
  text-align: right;
}

.sub-title {
  font-family: Racing Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 121px;
  color: #fe5e41;
  text-shadow: 0px 4px 4px #0b0500;
  margin: 0;
  text-align: right;
}

.block {
  display: block;
  text-align: right;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  transition: 2s cubic-bezier(0.075, 1.22, 0.165, 1.11);
  /* transition: 2s; */
  margin-top: 4%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.footer-text {
  font-family: Racing Sans One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #fe5e41;
  margin: 0;
}

.reflection {
  transform: scale(1, -1);
}

.footer-img {
  width: 100px;
}

.hide {
  opacity: 0;
}

.proceed-wrapper {
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proceed {
  font-family: Racing Sans One;
  font-size: 24px;
  color: #fe5e41;
}

#blink {
  -webkit-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
}
@-webkit-keyframes blink {
  50% {
    color: #fe5e41;
  }
  51% {
    opacity: 0;
  }
  100% {
    color: #fe5e41;
  }
}
@keyframes blink {
  50% {
    color: #fe5e41;
  }
  51% {
    opacity: 0;
  }

  100% {
    color: #fe5e41;
  }
}

@media screen and (max-width: 1920px) {
  .sub-title {
    font-size: 84px;
    line-height: 116px;
  }

  .title {
    font-size: 124px;
    line-height: 174px;
  }
}

@media screen and (max-width: 1600px) {
  .sub-title {
    font-size: 64px;
    line-height: 90px;
  }

  .title {
    font-size: 96px;
    line-height: 121px;
  }
}

@media screen and (max-width: 1300px) {
  .sub-title {
    font-size: 48px;
    line-height: 68px;
  }

  .title {
    font-size: 84px;
    line-height: 116px;
  }
}

@media screen and (max-width: 1100px) {
  .sub-title {
    font-size: 48px;
    line-height: 64px;
  }

  .title {
    font-size: 64px;
    line-height: 96px;
  }
  .footer-img {
    width: 80px;
  }
}

@media screen and (max-width: 900px) {
  .title-wrapper {
    margin-top: 15%;
  }

  .sub-title {
    font-size: 36px;
    line-height: 48px;
  }

  .title {
    font-size: 48px;
    line-height: 64px;
  }
  .footer-wrapper {
    width: 80%;
  }

  .footer-text {
    font-size: 16px;
    line-height: 28px;
  }
  .footer-img {
    width: 60px;
  }
}

@media screen and (max-width: 650px) {
  .sub-title {
    font-size: 24px;
    line-height: 36px;
  }

  .title {
    font-size: 36px;
    line-height: 48px;
  }

  .footer-text {
    font-size: 14px;
    line-height: 24px;
  }
  .footer-img {
    width: 50px;
  }
}

@media screen and (max-width: 480px) {
  .sub-title {
    font-size: 16px;
    line-height: 24px;
  }

  .title {
    font-size: 24px;
    line-height: 36px;
  }

  .footer-text {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-img {
    width: 40px;
  }
}
