body {
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 100vh;
}


/* Стили для СТАРТ сцены */

.overlay-statistics {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #534292;
   z-index: 2;
   transition: .3s all;
}

.list-statistics {
   visibility: visible;
   opacity: 0;
   width: 100%;
   max-width: 500px;
   height: 700px;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 3;

   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   align-self: flex-end;
   padding: 5px;
   
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: rgb(99, 99, 99);
   transition: 0.3s all;
   color: white;
}


#maps-names {
   width: 100%;
   height: 35px;
   border-radius: 5px;
   font-size: 15px;
   text-align: center;
   background-color: teal;
   color: wheat;
   cursor: pointer;
   position: relative;
}

.statistics-results {
   width: 100%;
   height: 500px;
}


.countries {
   width: 100%;
   list-style: none;
   height: 500px;
   overflow: auto;
}

.countries>[data-scroll] {
   cursor: pointer;
   text-align: center;
   display: block;
   background-color: rgba(0, 0, 0, .05);
}

.country-item {
   background-color: #5c5c5c;
   border-radius: 3px;
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   margin-bottom: 10px;
   cursor: pointer;
   width: 100%;
}

.country-item__name {
   width: 60%;
   text-align: center;
}

.country-item__info {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   width: 40%;
}

.country-item__value {
   color: red;
   font-weight: bold;
   letter-spacing: .5px;
   text-align: center;
}

.country-item__flag {
   margin-bottom: 5px;
   width: 100%;
   max-width: 40px;
}




/* Стили для сцены НАСТРОЕК */


.settings-background {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: url(../images/settings.jpg) no-repeat;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   z-index: 2;
}

.settings-overlay {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 3;
}


.settings-menu {
   opacity: 0;
   visibility: hidden;
   width: 90%;
   height: 80%;
   max-width: 1000px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 4;
   text-align: center;
   padding: 10px;
   border-radius: 3px;
   background-color: rgb(109, 109, 109, 0.5);
   transition: 0.3s all;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.language-text {
   color: wheat;
   margin: 20px;
}

.language-parameters {
   width: 35%;
   height: 35px;
   border-radius: 5px;
   font-size: 15px;
   text-align: center;
   background-color: teal;
   color: wheat;
   cursor: pointer;
   position: relative;
}

.volume-text-value {
   color: wheat;
   margin: 20px;
}

.slidecontainer {
   width: 100%;
}

.slider {
   -webkit-appearance: none;
   width: 20%;
   height: 10px;
   border-radius: 5px;
   background: teal;
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
   margin-left: 5px;
   margin-right: 5px;
}

.slider:hover {
   opacity: 1;
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 30px;
   height: 30px;
   border: 0;
   background: url(../images/icons/car-sport.svg);
   cursor: pointer;
}

.slider::-moz-range-thumb {
   width: 30px;
   height: 24px;
   border: 0;
   background: url(../images/icons/car-sport.svg);
   cursor: pointer;
}

.volume-value-min,
.volume-value-max {
   color: wheat;
   font-size: 15px;
}


.quit-btn {
   margin-top: 20px;
}




/* Стили для сцены ВЫБОРА КАРТ */


.maps-background {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #534292;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   z-index: 2;
}

.maps-overlay {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 3;
}


.maps-menu {
   opacity: 0;
   visibility: hidden;
   width: 90%;
   height: 80%;
   max-width: 1000px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 4;
   text-align: center;
   padding: 10px;
   border-radius: 3px;
   background-color: rgb(109, 109, 109, 0.5);
   transition: 0.3s all;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);

}


.map-image {
   width: 100%;
   height: 100%;
}

.maps-slider-wrapper {
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 4;
   width: 90%;
   max-width: 800px;
   height: 700px;
}

.maps-slider-container {
   overflow: hidden;
   background-color: pink;
}

.maps-slider-track {
   display: flex;
   transition: .6s;
}

.maps-slider-item {
   height: 500px;
   cursor: pointer;
}

.maps-slider-buttons {
   margin-top: 20px;
   text-align: center;
   display: flex;
   justify-content: space-around;
}

.quit-from-select-map {
   margin: 0 auto;
   margin-top: 40px;
   display: flex;
   align-self: center;
}


/* Стили для сцены ВЫБОРА МАШИНЫ */



.cars-background {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #534292;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   z-index: 2;
}

.cars-overlay {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 3;
}

.cars-slider-wrapper {
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 4;
   width: 90%;
   max-width: 800px;
   height: 750px;
}

.cars-slider-container {
   overflow: hidden;
   color:wheat;
   font-size: 18px;
}

.cars-slider-track {
   display: flex;
   transition: .6s;
}

.cars-slider-item {
   width: 100%;
   height: 550px;
   cursor: pointer;
   display: flex;
   flex-wrap: wrap;
}

.car-image-container {
   width: 30%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   text-align: center;
}

.car-image {
   width: 60%;
   height: 40%;
}

.car-name {
   font-size: 30px;
   font-weight: 700;
   color: sienna;
   text-align: center;
}

.car-parameters {
   width: 70%;
   height: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.car-parameter-container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;
   width: 70%;
}

.car-parameter-name {
   padding: 0px;
   margin: 0px;
}

.car-parameter-value {
   font-size: 30px;
   color: tomato;
   font-weight: bold;
}

.progress-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 70%;
}

.progress-box {
   width: 70%;
   height: 25px;
   border-radius: 5px;
   margin: 10px;
   background-color: thistle;
}

.progress-bar {
   background-color: violet;
   height: 100%;
   border-radius: 5px;
}

progress[value]::-webkit-progress-value {
   background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #09c, #f44);
 
     border-radius: 2px; 
     background-size: 35px 20px, 100% 100%, 100% 100%;
 }

.cars-slider-buttons {
   margin-top: 20px;
   text-align: center;
   display: flex;
   justify-content: space-around;
}

.quit-from-select-car {
   margin: 0 auto;
   margin-top: 40px;
   display: flex;
   align-self: center;
}



/* Стили для сцены СТАТИСТИКИ */

.stat-background {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: url(../images/maps.jpg) no-repeat;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   z-index: 2;
}

.stat-overlay {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.4);
   z-index: 3;
}

.stat-table {
   opacity: 0;
   visibility: hidden;
   width: 90%;
   height: 80%;
   max-width: 1000px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 4;
   text-align: center;
   padding: 10px;
   border-radius: 3px;
   background-color: rgb(109, 109, 109, 0.5);
   transition: 0.3s all;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}






.active {
   opacity: 1;
   visibility: visible;
}

.active-block {
   display: block;
   opacity: 1;
}